/* 上下に動くアニメーション*/
@keyframes fuwafuwa {
  0% {transform:translate(0%,0);}
  50% {transform:translate(0%,-5px);}
  100% {transform:translate(0%,0);}
}

/* 左右に揺らすアニメーション */
@keyframes buruburu {
  0% {transform:translate(0%,0);}
  50% {transform:translate(3px,0);}
  100% {transform:translate(0%,0);}
}

/* 上に回転しながら透明になるアニメーション */
@keyframes shuwashuwa {
  0%{
    transform:translate(0,0) rotateZ(0deg);
    opacity:1;
  }
  100%{
    transform:translate(150px,-380px) rotateZ(360deg);
    opacity:0;
  }
}

/* 回転して移動するアニメーション */
@keyframes kaiten {
  0%{transform:translate(0,0) rotateZ(0deg);}
  100%{transform:translate(800px,100px) rotateZ(360deg);}
}

/* ふりこのアニメーション*/
@keyframes furiko {
  0%{transform:rotateZ(0deg);}
  50%{transform:rotateZ(-1deg);}
  100%{transform:rotateZ(0deg);}
}

/* 点滅 */
@keyframes tenmetu {
  0%{opacity: 1;}
  100%{
    opacity: 0;
    transform:translate(0,10px);
  }
}

/* 点滅2 */
@keyframes tenmetu2 {
  0%{opacity: 1;}
  100%{
    opacity: 0;
  }
}

/* 01	ease	イーズ	初期値です。開始時と終了時は緩やかに変化します。
02	ease-in	イーズ・イン	開始時は緩やかに変化、終了に近づくと早く変化します。
03	ease-out	イーズ・アウト	開始時は早く変化し、終了時は緩やかに変化します。
04	ease-in-out	イーズ・イン・アウト	開始時と終了時は、かなり緩やかに変化します。
05	linear	リニア	開始から終了まで一定に変化します。
06	step-start	ステップ・スタート	開始時に最終の状態になります。
07	step-end	ステップ・エンド	終了時に最終の状態になります。 */

/* normal	ノーマル	毎回、指定した通り（順方向）のアニメーションが再生されます。
reverse	リバース	毎回、逆方向からのアニメーションが再生されます。
alternate	オルタネイト	順方向、逆方向のアニメーションを交互に繰り返します。
alternate-reverse	オルタネイト・リバース	逆方向、順方向のアニメーションを交互に繰り返します。 */