body{
  background-color: rgb(248, 140, 136);
}

/*******************************
@１コマのsize 812 x 375 
@font-family: 'M PLUS 1p', sans-serif;
*********************************/


.main{
  position: relative;
  margin-top:20px;
  margin-right: auto;
  margin-left:auto;
  width:812px;
  height: 350px;
  background-color: rgb(231, 230, 142);
  background-image: url(./images/diagonal_line.png);
  transform: rotateZ(-1deg);
  border:15px double snow;
  z-index: 1;
}

#character{
  position: absolute;
  right: -10px;
  bottom: 0px;
  animation:buruburu 0.1s infinite ease-in-out alternate;
  z-index: 2;
}

.z-index2{
  position: absolute;
  z-index: 2;
}

#title{
  animation:fuwafuwa 4s infinite ease-in-out alternate;
}


.z-index3{
  position: absolute;
  background-image: url(./images/balloon.png);
  height: 132px;
  width:250px;
  top:-50px;
  right:0px;
  text-align: center;
  overflow: hidden;
  z-index: 3;
}


.comment{
  font-size:30px;
  font-family: 'M PLUS 1p', sans-serif;
}

#title{
  animation:fuwafuwa 4s infinite ease-in-out alternate;
}

/* ゆっくり上下 */
@keyframes fuwafuwa {
  0% {transform:translate(0%,0);}
  50% {transform:translate(0%,-5px);}
  100% {transform:translate(0%,0);}
}

/* 左右に揺れる */
@keyframes buruburu {
  0% {transform:translate(0%,0);}
  50% {transform:translate(3px,0);}
  100% {transform:translate(0%,0);}
}

.result{
  position: relative;
  margin-top:50px;
  margin-right: auto;
  margin-left:auto;
  width:812px;
  height: 350px;
  overflow: hidden;
  background-color: rgb(173, 157, 245);
  background-image: url(./images/diagonal_line.png);
  z-index: 1;
  border:15px double snow;
  transform: rotateZ(1deg);
}

#result_akane{
  position: absolute;
  right:100px;
  bottom:-50px;
}

.result_fukidasi{
  position: absolute;
  right:30px;
  top:80px;
  width: 90px;
  height: 185px;
  background-image: url(./images/tnm90x185.png);
  font-size:15px;
  font-family: 'M PLUS 1p', sans-serif;
  writing-mode: vertical-rl;
  text-align: center;
}

.assess{
  position: absolute;
  top: 30px;
  left:80px;
}

.info{
  position: relative;
  margin-top:50px;
  margin-right: auto;
  margin-left:auto;
  width:812px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  background-image: url(./images/diagonal_line.png);
  z-index: 1;
  border:15px double snow;
  transform: rotateZ(-1deg);
}

.info img{
  float: left;
  margin-left:40px;
  filter: drop-shadow(1px 0px 5px rgb(138, 137, 137));
}

.text-area{
  position: absolute;
  top: 30px;
  right:30px;
  padding:10px;
  background-color: rgba(137, 43, 226, 0.185);
  width:500px;
  color:rgb(119, 73, 245);
  border:10px double snow;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width:812px;
  height: 350px;
  overflow: hidden;
}
#star1{
  position: absolute;
  left:-50px;
  bottom:0px;
  font-size: 40px;
  color: rgba(240, 248, 255, 0.664);
  width: 50px;
  height: 50px;
  animation:shuwashuwa 6s infinite ease-in normal;
  animation-delay:2s;
}
#star2{
  position: absolute;
  left:200px;
  bottom:-50px;
  font-size: 40px;
  color: rgba(240, 248, 255, 0.822);
  width: 50px;
  height: 50px;
  animation:shuwashuwa 4s infinite ease-in reverse;
  animation-delay:3s;
}

#star3{
  position: absolute;
  left:-100px;
  bottom:0px;
  font-size: 140px;
  color: rgba(240, 248, 255, 0.24);
  animation:kaiten 10s infinite ease-in normal;
  animation-delay:1s;
}

#star4{
  position: absolute;
  left:-100px;
  bottom:300px;
  font-size: 80px;
  color: rgba(240, 248, 255, 0.24);
  animation:kaiten 10s infinite ease-in reverse;
  animation-delay:3s;
}

@keyframes shuwashuwa {
  from{
    transform:translate(0,0) rotateZ(0deg);
    opacity:1;
  
  }
  to {
    transform:translate(150px,-380px) rotateZ(360deg);
    opacity:0;
  }
}

@keyframes kaiten {
  from{
    transform:translate(0,0) rotateZ(0deg);
  }
  to {
    transform:translate(800px,100px) rotateZ(360deg);
  }
}
